.flag { background: url(/media/img/flags.png) no-repeat -16px 0; width: 16px; height: 11px; display: block; overflow: hidden; margin: 0 auto; padding: 0; text-indent: -9999px; }
.flag.left { float: left; margin: 4px 5px 0 0; }
.flag.abu-dhabi { background-position: 0 0; }
.flag.argentina { background-position: 0 -12px; }
.flag.australia { background-position: 0 -24px; }
.flag.austria { background-position: 0 -36px; }
.flag.bahrain { background-position: 0 -48px; }
.flag.belgium { background-position: 0 -60px; }
.flag.brazil { background-position: 0 -72px; }
.flag.britain { background-position: 0 -84px; }
.flag.canada { background-position: 0 -96px; }
.flag.chile { background-position: 0 -108px; }
.flag.china { background-position: 0 -120px; }
.flag.colombia { background-position: 0 -132px; }
.flag.czech-republic { background-position: 0 -144px; }
.flag.denmark { background-position: 0 -156px; }
.flag.europe { background-position: 0 -168px; }
.flag.finland { background-position: 0 -180px; }
.flag.france { background-position: 0 -192px; }
.flag.germany { background-position: 0 -204px; }
.flag.hungary { background-position: 0 -216px; }
.flag.india { background-position: 0 -228px; }
.flag.irlande { background-position: 0 -240px; }
.flag.israel { background-position: 0 -252px; }
.flag.italy { background-position: 0 -264px; }
.flag.japan { background-position: 0 -276px; }
.flag.liechtenstein { background-position: 0 -288px; }
.flag.luxembourg { background-position: 0 -300px; }
.flag.malaysia { background-position: 0 -312px; }
.flag.mexico { background-position: 0 -324px; }
.flag.monaco { background-position: 0 -336px; }
.flag.morocco { background-position: 0 -348px; }
.flag.netherlands { background-position: 0 -360px; }
.flag.newzealand { background-position: 0 -372px; }
.flag.oae { background-position: 0 -384px; }
.flag.poland { background-position: 0 -396px; }
.flag.portugal { background-position: 0 -408px; }
.flag.russia { background-position: 0 -420px; }
.flag.san-marino { background-position: 0 -432px; }
.flag.singapore { background-position: 0 -444px; }
.flag.south-africa { background-position: 0 -456px; }
.flag.south-korea { background-position: 0 -468px; }
.flag.spain { background-position: 0 -480px; }
.flag.sweden { background-position: 0 -492px; }
.flag.switzerland { background-position: -2px -504px; width: 11px; }
.flag.taiwan { background-position: 0 -516px; }
.flag.thailand { background-position: 0 -528px; }
.flag.turkey { background-position: 0 -540px; }
.flag.uruguay { background-position: 0 -552px; }
.flag.usa, .flag.usa-east, .flag.usa-west { background-position: 0 -564px; }
.flag.venezuela { background-position: 0 -576px; }
.flag.new-zeland { background-position: 0 -588px; }
