@import url('flags.css');

body {
	background: #fff;
    padding: 0;
	margin: 0;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #000;
}

.page {
	width: 980px;
	margin: 0 auto;
    overflow: hidden;
}


/*** Top navigation ***/
#branding {
    background: #fcfbf4;
	height: 48px;
	margin-bottom: 16px;
    border-bottom: 2px solid #666;
}

#branding ul {
    float: left;
    padding: 0;
    margin: 0 0 0 20px;
    list-style: none;
    line-height: 48px;
}

#branding li {
    float: left;
    margin: 0 16px;
}

#logo {
	width: 175px;
	height: 35px;
	background: url(/media/img/logo_new.png) no-repeat 0 0;
	margin-top: 7px;
	text-indent: -9999px;
	float: left;
	display: block;
}

#logo:hover { background-position: 0 -35px; }

/*** Breaking news ***/
#breaking-news {
	height: 226px;
	padding-bottom: 14px;
	margin-bottom: 14px;
	border-bottom: 1px solid #ebeae0;
}

#top-story {
	width: 720px;
	float: left;
	line-height: 18px;
}

#top-story h1 {
	font-size: 18px;
    line-height: 26px;
	margin: 0 0 4px 0;
}

.story-date {
	float: left;
	color: #000;
	text-transform: lowercase;
}

#top-story p { color: #333; }

img.top {
	display: block;
	float: left;
	border: 1px solid #ccc;
	padding: 4px;
	margin: 0 16px 0 0;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

#extra-news {
	width: 224px;
	float: left;
	margin-left: 16px;
}

.ex-news-item {
	overflow: hidden;
	margin: 0 0 6px 0;
	font-size: 11px;
	line-height: 15px;
}

.ex-news-item:last-child {
	margin-bottom: 0;
}

img.mini {
	float: left;
	margin: 0 6px 0 0;
	padding: 1px;
	border: 1px solid #d7d7d7;
}
	
.ex-news-item span {
	font-size: 10px;
	line-height: 12px;
	color: #666;
	display: block;
	font-weight: normal;
	text-transform: lowercase;
}

/*** Colour block frontpage ***/
.block {
	border-width: 1px; border-style: solid;
	outline: 1px solid #fff; outline-offset: -2px;
	-moz-border-radius: 2px; -moz-outline-radius: 2px;
	-webkit-border-radius: 2px; border-radius: 2px;
	padding: 10px;
	font-size: 11px;
	line-height: 18px;
}

.block h3 {
	margin: 0;
	padding: 0 0 6px 0;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
	text-shadow: 1px 1px 0 #fff;
}

.block a.all {
	font-size: 10px;
	float: right;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}

/*** News List ***/
.news {
	width: 356px;
	border-color: #ececec;
	background: url(/media/img/news-bg.png) repeat-x top #fafafa;
	float: left;
	margin-right: 14px;
	padding-bottom: 3px;
}

.news h3 { color: #555; }
.news a.all { color: #999; }
.news a.all:hover { color: #555; }

.news-row { 
	border-bottom: 1px dotted #fff;
	overflow: hidden;
}

.news-row:last-child { border-bottom: none !important; }
.news-row:last-child a { border-bottom: none !important; }

a.news-item {
	text-decoration: none;
	display: block;
	border-bottom: 1px dotted #cdcdcd;
	padding: 1px 2px 3px 2px;
}

.news span.date {
	float: right;
	text-transform: lowercase;
	padding: 1px 2px 3px 5px;
	color: #555;
}

/*** Next Grand Prix ***/
.nextgp {
	width: 308px;
	border-color: #f1e9e4;
	background: url(/media/img/grandprix-bg.png) repeat-x top #fbf9f7;
    margin-right: 14px;
	float: left;
}

img.gp {
	display: block;
	margin: 0 0 0 -1px;
	border: 1px solid #f1e9e4;
}

#gpname {
	margin: 8px 0;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color: #6c0000;
}

#gpname img { vertical-align: -1px; }

.nextgp h3 { color: #574A2D; }
.nextgp a.all { color: #888; }
.nextgp a.all:hover { color: #555; }

#heat-list {
	overflow: hidden;
	width: 150px;
	float: right;
}

#heat-list p {
	margin: 2px 0;
	line-height: normal;
	font-size: 11px;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
}

#heat-list p:nth-child(2n) {
	margin: 2px 0 8px 0;
}

#heat-list em {
	font-style: normal;
	float: right;
	text-align: left;
}

#heat-list strong { color: #333; }
#heat-list a { font-weight: bold; }

span.clock {
	display: block;
	background: url(/media/img/clock.png) no-repeat left;
	padding: 0 0 0 16px;
	line-height: 12px;
	height: 12px;
	margin: 6px 0 0 0;
	float: right;
	font-size: 10px;
	color: #333;
}

#standings {
	clear: both;
	overflow: hidden;
}

.short-standings {
	width: 48%;
	line-height: 18px;	
	font-size: 11px;
	margin-top: 16px;
}

.short-standings td {
	padding: 0 7px 0 0;
	border-bottom: 1px solid #f1e9e4;
}

.short-standings td a { text-decoration: none; }

.short-standings td.pos, .short-standings td.country {
	width: 15%;
	text-align: center;
}

.short-standings td.country span { margin-bottom: -1px; }

.short-standings td.total {
	width: 20%;
	text-align: center;
	font-weight: normal;
	padding: 0;
}

table.drivers { float: left; }
table.teams { float: right; }

.short-standings th {
	text-align: left;
	font-size: 10px;
	line-height: 14px;
	border-top: 2px solid #f1e9e4;
	border-bottom: 1px solid #f1e9e4;
	background: #f7f2ef;
	color: #574a2d;
	padding: 2px 5px;
}

a.full-standings-link {
	display: block;
	background: #fff;
	padding: 1px 5px 3px;
	text-align: center;
	overflow: hidden;
	margin: 2px 0 0 0;
	clear: both;
	position: relative;
	top: 3px;
	text-decoration: none;
}

a.full-standings-link:hover { background: #f7f2ef; }

a.full-standings-link span {
	text-decoration: underline;
}

a.full-standings-link img {
	vertical-align: -2px;
	margin: 0 2px 0 0;
}

/*** Last articles ***/
.articles {
	width: 222px;
	border-color: #f1ede4;
	background: #f8f8f1;
	float: left;
}

.articles h3 { color: #574A2D; }
.articles a.all { color: #9F8D55; }
.articles a.all:hover { color: #574A2D; }

.article-item {
	height: 68px;
	margin: 3px 0 6px 0;
	padding: 0 0 7px 0;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	line-height: 13px;
	border-bottom: 1px solid #F1EDE4;
	overflow: hidden;
}

.article-item:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.article-item a {
	font-size: 13px;
	line-height: 12px;
	font-weight: bold;
}

.article-item p { margin: 3px 0; }

.article-item img {
	float: left;
	margin: 2px 6px 0 0;
}

/*** Season Page ***/

table.season {
	background: #fff;
	border: 1px solid #eee;
	border-collapse: separate;
	padding: 4px 4px 8px;
	-moz-border-radius: 3px;
}

table.season td, table.season th {
	border-bottom: 1px solid #eee;
	text-align: left;
}

.abbr {
    font-size: 9px;
    line-height: 18px;
}

#heat-details {
	line-height: 16pt;
	font-size: 10pt;
}

td.center { text-align: center; }
td.nc { color: #666; }

#driver-details {
	margin-left: 242px;
    padding-top: 8px;
	font-size: 12px;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
}

#driver-details h1 { 
	font-size: 28px !important;
    margin: 0 !important;
    line-height: 28px;
}

#driver-details h3 {
    margin: 4px 0 2px;
    font-size: 12px;
    line-height: 12px;
}

#driver-details table {
	line-height: 20px;
	margin: 6px 0 0 0;
}

#driver-details td { padding: 0; }
img.flag { margin: 0 0 -1px 0; }
.info { margin: 3px 0; }
.info a { font-size: 11px; }

img.info { 
	vertical-align: text-top;
	margin: 0 3px 0 0;
}

#driver-img {
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    float: left;
    width: 210px;
    padding: 8px;
}

img.driver-photo {
    width: 200px;
    background: #fff;
	display: block;
	border: 1px solid #d9d9d9;
	padding: 4px;
	margin: 0 0 8px 0;
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

#driver-details th {
	font-weight: bold;
	width: 176px;
	text-align: left;
}

#driver-details th, #driver-details td {
	padding: 1px 10px 1px 0;
	border-bottom: 1px solid #eee;
}

th img {
	display: block;
	margin: 0 auto;
}

table.season td {
	text-align: center;
	padding: 4px 7px;
}

table.season th {
	padding: 0 7px 4px 7px;
	vertical-align: bottom;
}

table.season th img { border: none; }
table.season tr:hover, table.heat-detail tr:hover { background: #fcf4e1; }
table.season td a:hover { color: #cc0000; }
table.heat-detail td a { font-weight: bold; }
table.season tr:first-child { background: transparent !important; }

table.season td a {
	color: #333;
	font-weight: bold;
}

table.season tr:last-child td { border-bottom: none; }

td.driver {
	text-align: left !important;
	white-space: nowrap;
}

td.total { font-weight: bold; }

.drivers-leftcol {
	float: left;
	width: 300px;
}

.drivers-rightcol {
	float: right;
	width: 250px;
}

table.heat-detail td, table.heat-detail th {
	border: none;
}










ul.cups {
	margin: 0;
	padding: 5px 0 0 0;
	list-style: none;
	overflow: hidden;
}

ul.cups li {
	float: left;
	margin: 0 7px 0 0;
	font-weight: normal;
	font-size: 11px;
    line-height: normal;
	padding: 19px 0 0 0;
	text-align: ceter;
	background: url(/media/img/cup.png) no-repeat center top;
}


aside.right {
	float: right;
	width: 200px;
	padding: 0 0 0 4px;
	line-height: 18px;
	border-left: 1px dotted #d9d9d9;
}

aside.right li.current { background: #f3f2ec; }
aside.right li.current a:hover { background: none !important; }

aside.right li a {
	display: block;
	padding: 4px 40px 4px 12px;
}

aside.right li a:hover {
	background: #eee;
}


ul.seasons {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.seasons li {
	margin: 20px 20px 20px 0;
	padding: 0;
	float: left;
	font-size: 20px;
}


/*** Heat details template ***/

.results {
	font-family: Arial, Helvetica, sans-serif;
	background: #fff;
	border: 1px solid #e5e4de;
	border-collapse: separate;
	padding: 4px 4px 8px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.results th, .results td {
    padding: 4px 5px;
    border-bottom: none;
    white-space: nowrap;
    vertical-align: top;
    line-height: 16px;
}

.results td.not-classified {
	padding-top: 20px;
	padding-bottom: 14px;
	background: #fff !important;
}

.results th {
    padding: 2px 5px;
	background: #fff !important;
	border-bottom: 2px solid #e5e4de;
	text-align: left;
	color: #333;
}

.results tr:hover { background: #fcf4e1; }
.results td:first-child { font-weight: bold; }
.results td:last-child { white-space: normal; }
.results td:nth-of-type(2) { font-style: italic; }
.results td .flag { margin-top: 2px; }

.results #pos,
.results #num,
.results #nat { width: 22px; }

.results h4 {
	color: #888;
	font-size: 18px;
	font-weight: normal;
}

/*** End of Heat details ***/

.center { text-align: center; }

#fastest-lap {
	margin: 20px 0;
}

#fastest-lap h5 {
	color: #888;
	font-size: 16px;
	font-weight: normal;
	margin: 10px 0;
}

#fastest-lap td, #fastest-lap th {
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
} 

.event-info {
	width: 266px;
    border: 1px solid #f1ede4;
	background: #f8f8f1;
	float: right;
	margin: 58px 0 0 20px;
    font-size: 12px;
    line-height: 18px;
}

.get-best {
    display: block;
}


.main {
    padding: 0 20px 0 0;
    overflow: hidden;
}

.content {
    line-height: 18px;
}

.driver-info {
    line-height: 18px;
    margin-top: 20px;
}

#current_letter ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#footer {
    clear: both;
    border-top: 2px solid #666;
    padding-top: 18px;
    margin-top: 16px;
    height: 30px;
    background: #fcfbf4;
}

.current-season {
    overflow: hidden;
    padding: 0 0 10px;
    margin: 0 0 20px;
    list-style: none;
    border-bottom: 1px solid #ddd;
}

.current-season li {
    float: left;
    margin: 0 20px 0 0;
}

.current-season li:first-child {
    color: #666;
    font-size: 28px;
    padding-top: 8px;
}

.grandprix-counter {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #999;
    margin: 0 0 3px 0;
}

#winners {
    float: right;
}

.wrapper {
    overflow: hidden;
}

/* Looks like shit
table.winners {
    padding: 4px;
    border: 1px solid #eee;
    background: #fff;
}

table.winners td {
    padding: 4px 8px;
    border-bottom: 1px solid #eee;
}
*/

.dsq {
    opacity: 0.5;
    cursor: help;
}

.inactive { opacity: 0.5; }

.dsq abbr { border-color: #000; }





/*** News calendar ***/

.calendar {
    background: #fff;
	border: 1px solid #e5e4de;
	border-collapse: separate;
	padding: 4px 4px 8px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;                     
}

.calendar th, .calendar td {
    padding: 2px 4px;
    text-align: center;
}

.calendar td {
    border: 2px solid #fff;
}

.calendar td.grey {
    color: #ccc;
}

.calendar td.weekend {
    color: #c00000;
}

.calendar td.weekend a {
    color: #c00000;
}

.calendar td a {
    font-weight: bold;
}

.calendar th {
    background: #fff !important;
	border-bottom: 2px solid #e5e4de;
	color: #333;
}

.calendar td.active {
    background: #efefe0;
}

.wide-column {
    width: 720px;
}

