@import url('base.css');

body {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	color: #000;
	font-size: 12px;
	background: #f4f4f4;
}

a { color: #427BAD; }
a:hover { color: #cc0000; }

h1, h2, h3 { font-weight: normal; margin: 10px 0;  }
h1 { font-size: 20pt;}
h2 { font-size: 17pt; color: #222; }
h3 { font-size: 12pt; color: #666; }

#driver-img {
	float: left;
}

#heat-details {
	line-height: 16pt;
	font-size: 10pt;
}

#driver-details {
	float: left;
	margin-left: 15px;
	font-size: 9pt;	
}

#driver-details h1 { margin: 0; }
#driver-details h3 { margin: 0; font-size: 10pt; }
#driver-details table { margin-top: 10px; }
#driver-details td { padding: 0; }

table {
	line-height: 15pt;
	border-spacing: 0;
}

/*********** Результы ***********/

th {
	font-size: 8pt;
	text-align: left;
	padding: 0 15px;
}

td { 
	padding: 0 15px;
	border-bottom: 1px solid #eee;
}

td.center { text-align: center; }
td.nc { color: #666; }

/*********** ГОНЩИКИ ***********/

td.left {
	font-weight: bold;
	width: 160px;
}

th img {
	display: block;
	margin: 0 auto;
}

table.season td {
	text-align: center;
	padding: 0 10px;
}

table.season th {
	padding: 0 10px;
}

table.season tr:hover {
	background: #fcf4e1;
}

table.season td a {
	color: #333;
	font-weight: bold;
}

table.season td a:hover {
	color: #cc0000;
}

table.season tr:first-child {
	background: #fff !important;
}

td.driver {
	text-align: left !important;
}

td.total {
	font-weight: bold;
}

.drivers-leftcol {
	float: left;
	width: 300px;
}

.drivers-rightcol {
	float: right;
	width: 250px;
}






























#wrapper {
	min-width: 986px;
	max-width: 1180px;
	margin: 0 auto;
	overflow: hidden;
	background: #fff;
}

#main-column {
	border-right: 1px solid #ddd;
	padding: 36px 20px 36px 60px;
	color: #333;
	line-height: 18px;
	float: left;
	width: 550px;
}

#main-column h1 {
	font-family: Georgia;
	font-size: 32px;
	line-height: 32px;
	color: #222;
	margin: 20px 0;
	
}

#top-story {
	float: left;
	width: 420px;
	padding: 0 0 10px 0;
}

#top-story h2 {
	font-size: 20px;
	margin: 0;
	padding: 8px 0 4px 0;
}

#top-story img {
	display: block;
}

#top-story p {
	margin: 4px 0;
}

span#top-story-date {
	float: left;
	color: #000;
	margin: 4px 0 0 0;
}

.ex-news-item {
	overflow: hidden;
	margin: 0 0 12px 0;
	font-size: 12px;
	font-weight: bold; 
}

.ex-news-item img {
	float: left;
	width: 100px;
	height: 75px;
	margin: 0 8px 0 0;
	border: 1px solid #000;
}
	
.ex-news-item span {
	font-size: 12px;
	color: #666;
	display: block;
	font-weight: normal;
}

.news-list {
	clear: both;
}

.news-item {
	border-bottom: 1px solid #eee;
	padding: 3px 2px;
}

.news-item:hover {
	background: #f4f4f4;
}

.news-item a {
	text-decoration: none;
}

.news-item span {
	float: right;
	text-transform: lowercase;
}

p.gpname {
    margin: 4px 0;
    font-weight: bold;
    text-transform: uppercase;
}

span.small-grey {
    font-size: 11px;
    color: #666;
    text-transform: lowercase;
}

span.normal { text-transform: none !important; }

p {
	margin: 12px 0;
}


