@import url('base.css');

body {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	color: #000;
	font-size: 9pt;
}

#center {

}

h1, h3 { font-weight: normal; margin: 2px 0 8px 0;  }
h1 { font-size: 20pt;}
h3 { font-size: 12pt; color: #666; }

#driver-img {
	float: left;
}

#driver-details {
	float: left;
	margin-left: 15px;
	font-size: 9pt;
	
}

table {
	line-height: 15pt;
}

td { 
	padding-right: 15px;
	border-bottom: 1px solid #eee;
}

td.left {
	font-weight: bold;
	width: 160px;
}

.drivers-leftcol {
	float: left;
	width: 300px;
}

.drivers-rightcol {
	float: right;
	width: 250px;
}

