[buildout]
parts = django
        django-config
        make-config

[django]
recipe = djangorecipe
project = f1info
version = 1.1
settings = production
unzip = true
extra-paths = ${django-config:location}


[django-config]
recipe = zerokspot.recipe.git
repository = git://verne.redsolution.ru/django-config.git
rev = b9d5dbbd9879173496e793af96125dfbf84fec95

[make-config]
recipe = iw.recipe.cmd
on_install = true
on_update = true
cmds = sudo rm -f bin/init.d bin/lighttpd bin/logrotate bin/monit
       sudo bin/django make_config init.d > bin/init.d
       sudo bin/django make_config lighttpd > bin/lighttpd
       sudo bin/django make_config logrotate > bin/logrotate
       sudo bin/django make_config monit > bin/monit
       sudo chown root:root bin/init.d bin/lighttpd bin/logrotate bin/monit
       sudo chmod ug=rwx,o=rx bin/init.d
       sudo chmod ug=rw,o=r bin/lighttpd bin/logrotate bin/monit
       echo Configs were saved to "bin/"
