{% extends 'pages/base.html' %}
{% load pages_tags markitup_tags easy_news_tags frontpage_tags attachment_tags %}

{% block content_title %}{% endblock %}

{% block main %}
	<div id="breaking-news">
		{% breaking_news %}
	</div>
	
	<div class="three-blocks clearfix">
		{% show_nextgp %}
		{% latest_news %}
		<div class="block articles">
    		<a href="#" class="all">все статьи »</a>
    		<h3>Статьи</h3>
            {% get_page articles as articles %}
            {% for article in articles.get_children|slice:":5" %}
	        	<div class="article-item">
                    {% get_attachments for article as attachments %}
		            {% with attachments.0 as attachment %}
		            {% if attachment.image %}
	        		    <img src="{{ attachment.articles.url }}" alt="{{ article.title }}" />
                    {% endif %}
                    {% endwith %}
	        		    <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                        {% get_content article "summary" as content %}
                        {{ content|render_markup|safe }}
	        	</div>
            {% endfor %}
	    </div>
	</div>

    <div class="three-blocks clearfix" style="display:none;">
        <div class="block nextgp">
            {% show_twitter %}
        </div>
        <div class="block news">
            test
        </div>
        <div class="block articles">
            {% show_today %}
        </div>
    </div>
{% endblock %}
