<table class="calendar">
    <tr>
        {% for day in headers %}
            <th>{{ day|date:"D"|slice:":2" }}</hd>
        {% endfor %}
    </tr>
    
    {% for week in calendar %}
    <tr>
        {% for day in week %}
            <td {% if not day.in_month %}class="grey"{% endif %}{% if day.weekend %}class="weekend"{% endif %}>
                {% if day.news %}
                    <a href="{% url news_archive_day day.day.year day.day|date:"m" day.day|date:"d" %}">{{ day.day|date:"j" }}</a>
                {% else %}
                    {{ day.day|date:"j" }}
                {% endif %}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
