{% extends "easy_news/base.html" %}
{% comment %}
{% load menuproxy_tags %}
{% block main_menu %}{% show_main_menu 'news_monthes' month %}{% endblock %}
{% block auto_menu %}{% show_auto_menu 'news_monthes' month %}{% endblock %}
{% block full_menu %}{% show_full_menu 'news_monthes' month %}{% endblock %}
{% block breadcrumbs %}{% show_breadcrumbs 'news_monthes' month %}{% endblock %}
{% endcomment %}

{% block seo_title %}Новости за {{ month|date:"F Y" }} года{% endblock %}
{% block title %}Новости за {{ month|date:"F Y" }} года{% endblock %}

{% block content %}
    {% include "easy_news/news_include.html" %}
{% endblock %}
