{% extends "easy_news/base.html" %}
{% load attachment_tags easy_news_tags utilities_tags %}

{% block title %}{{ object.title }}{% endblock %}
{% block content_title %}{% endblock %}

{% block head %}
    <script type="text/javascript" src="/media/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.calendar a').each(function(){
                if ($(this).text() == {{ object.date.day }}) $(this).parent().addClass('active');
            });
        });
    </script>
{% endblock %}

{% block sidebar %}
    <aside class="right">
        <h3>
            <a href="{% url news_archive_month object.date.year object.date|date:"m" %}">{{ object.date|date:"F Y" }}</a>
        </h3>
        {% calendar object.date.year object.date.month %}
    </aside>
{% endblock %}

{% block content %}
    <div class="wide-column">
        <h1>{{ object.title }}</h1>    
        <span class="news-date">{{ object.date|date:"j" }} {{ object.date|date_local:"F"|lower }} {{ object.date|date:"Y" }}</span>
        {% get_attachments for object as attachment %}
        {% with attachment.0 as image %}
            {% if image.image %}
                <img src="{{ image.top.url }}" alt="{{ object.title }}" title="{{ object.title }}" class="details border" />
            {% endif %}
        {% endwith %}
        <div class="news-text">{{ object.full|safe }}</div>
    </div>
{% endblock %}

