{% load attachment_tags utilities_tags %}

{% if news_list %}
	<div class="block news">
		<a href="{% url news_list %}" class="all">все новости »</a>
		<h3>Последние новости</h3>
	    {% if news_list %}
	        {% for object in news_list|slice:":18" %}
	        	<div class="news-row">
	            	<span class="date">{{ object.date|date:"d M" }}</span>
	            	<a href="{{ object.get_absolute_url }}" class="news-item">{{ object.title }}</a>
	            </div>
	        {% endfor %}
	    {% else %}
	        <div class="news-empty">Нет новостей</div>
	    {% endif %}
	</div>
{% endif %}
