{% load attachment_tags utilities_tags %}

<div id="main-news">
    {% if main_list %}
	<div id="top-story">
		{% with main_list|first as object %}
			{% show_images for object %}
			<h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
			<span id="top-story-date">{{ object.date|date:"d" }} {{ object.date|date_local:"F" }}&nbsp;&mdash;&nbsp;</span>{{ object.short }}
		{% endwith %}
	</div>
	{% for object in main_list|slice:"1:" %}
		<div class="ex-news-item">
			{% show_images for object %}
			<span>{{ object.date|date:"d" }} {{ object.date|date_local:"F" }}</span>
			<a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
		</div>
	{% endfor %}
	{% endif %}
</div>
<div class="news-list">    
    {% if news_list %}
        {% for object in news_list|slice:":15" %}
            <div class="news-item"><span>{{ object.date|date:"d M" }}</span><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></div>
        {% endfor %}
    {% else %}
        <div class="news-empty">Нет новостей</div>
    {% endif %}
</div>
