{% load attachment_tags utilities_tags %}

<div id="main-news">
    {% if main_list %}
		<div id="top-story">
			{% with main_list|first as object %}
				{% get_attachments for object as topstory %}
		        {% with topstory.0 as image %}
		            {% if image.image %}
		                <img src="{{ image.top.url }}" alt="{{ object.title }}" />
		            {% endif %}
		        {% endwith %}
				<h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
				<span id="top-story-date">{{ object.date|date:"d" }} {{ object.date|date_local:"F" }}&nbsp;&mdash;&nbsp;</span>{{ object.short }}
			{% endwith %}
		</div>
		
		<div id="ex-news-wrap">
			{% for object in main_list|slice:"1:5" %}
				<div class="ex-news-item">
					{% get_attachments for object as attachments %}
			        {% with attachments.0 as attachment %}
			            {% if attachment.image %}
			                <img src="{{ attachment.mini.url }}" alt="{{ object.title }}" />
			            {% endif %}
			        {% endwith %}
					<span>{{ object.date|date:"d" }} {{ object.date|date_local:"F" }}</span>
					<a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
				</div>
			{% endfor %}
		</div>
	{% endif %}
</div>

<div class="block news">
	<a href="{% url news_list %}" class="all">все новости »</a>
	<h3>Последние новости</h3>
    {% if news_list %}
        {% for object in news_list|slice:":18" %}
        	<div class="news-row">
            	<span class="date">{{ object.date|date:"d M" }}</span>
            	<a href="{{ object.get_absolute_url }}" class="news-item">{{ object.title }}</a>
            </div>
        {% endfor %}
    {% else %}
        <div class="news-empty">Нет новостей</div>
    {% endif %}
</div>

