<div id="fastest-lap">
	<h5>Быстрейший круг</h5>
	<table>
		<tr>
			<th>Гонщик</th> 
            {% if objects.0.heat.laps %}
    			<th>Круг</th>
            {% endif %}
			<th>Время</th>
			<th>Средняя скорость</th>
		</tr>
		{% for object in objects %}
		<tr>
			<td>{{ object.racer }}</td>
            {% if object.heat.laps %}
			    <td>{{ object.heat.laps }}</td>
            {% endif %}
			<td>{{ object.get_time_display }}</td>
			<td>{{ object.heat.get_speed|floatformat:"3" }} км/ч</td>
		</tr>
		{% endfor %}
	</table>
</div>
