<div id="fastest-lap">
	<h5>Быстрейший круг</h5>
	<table class="fastest-lap">
        <colgroup>
            <col id="num" />
            <col id="nat" />
            <col id="racer" />
            <col id="team" />
            <col id="engine" />
            <col id="tyre" />
            <col id="lap" />
            <col id="time" />
            <col id="speed" />
        </colgroup>

		<tr>
            <th>№</th>
            <th>Нац.</th>
			<th>Гонщик</th>
            <th>Команда</th>
            <th>Двигатель</th>
            <th>Шины</th> 
            {% if objects.0.heat.laps %}
    			<th>Круг</th>
            {% endif %}
			<th class="center">Время</th>
			<th>Средняя скорость</th>
		</tr>
		{% for object in objects %}
		<tr>
			<td class="center">{{ object.num }}</td>
            <td class="center">
                <span class="flag {{ object.racer.country.en_name|slugify }} left"></span>
            </td>
            <td>{{ object.racer }}</td>
            <td>{{ object.team }}</td>
            <td>{{ object.engine }}</td>
            <td class="center"><abbr title="{{ object.tyre }}">{{ object.tyre.name|slice:":1" }}</abbr></td>
            {% if object.heat.laps %}
			    <td class="center">{{ object.heat.laps }}</td>
            {% endif %}
			<td>{{ object.get_time_display }}</td>
			<td class="center">{{ object.heat.get_speed|floatformat:"3" }} км/ч</td>
		</tr>
		{% endfor %}
	</table>
</div>
