{% load utilities_tags %}

<img src="/media/_img/bahrain.jpg" alt="" class="gp" />
{% if start.grandprix.tracklen.photo %}
	<img src="{{ start.grandprix.tracklen.photo.url }}" alt="{{ object.grandprix.tracklen.track }}" width="100" style="float:right" />
{% endif %}

<div id="gpname">
	<img src="{{ start.grandprix.country.photo.url }}" alt="start.grandprix.country" />
	Гран-При {{ start.grandprix.name }}
</div>
<span class="small-grey">{{ start.date|date:"j" }}&ndash;{{ end.date|date_local:"j F Y" }}: <span class="normal">{{ start.grandprix.tracklen.track }}</span></span>

{% for heat in start.grandprix.heats.all %}
	<p class="heats">{{ heat.date|date:"D H:i" }} <span>{{ heat.get_type_display }}</span></p>
{% endfor %}
