{% load utilities_tags %}

<div id="grandprix">
        {% if start.grandprix.tracklen.photo %}
		<img src="{{ start.grandprix.tracklen.photo.url }}" alt="{{ object.grandprix.tracklen.track }}" width="100" style="float:right" />
		{% endif %}

		<p class="gpname">Гран-При {{ start.grandprix.name }}</p>
		<span class="small-grey">{{ start.date|date:"d" }}&ndash;{{ end.date|date_local:"d F" }}: <span class="normal">{{ start.grandprix.tracklen.track }}</span></span>

		{% for heat in start.grandprix.heats.all %}
            <p>{{ heat.date|date:"D, H:i" }} <a href="{% url heat_detail heat.id %}">{{ heat.get_type_display }}</a></p>
        {% endfor %}
</div>
