<section id="standings">
	<table class="short-standings drivers">
		<tr>
			<th colspan="4">Личный зачет</th>
		</tr>
		{% for key,value in object.get_racer_table|slice:"5" %}
		    {% if value.2.0 %}
		        <tr>
		            <td class="pos">{{ forloop.counter }}</td>
		            <td class="country"><span class="flag {{ key.country.en_name|slugify }}"></span></td>
		            <td class="driver"><a href="{% url racer_detail key.slug %}">{{ key.first_name|slice:"1" }}. {{ key.family_name }}</a></td>
		            <td class="total">{{ value.2.0|floatformat:"-2" }}</td>
		        </tr>
		    {% endif %}
		{% endfor %}
	</table>
	
	<table class="short-standings teams">
		<tr>
			<th colspan="4">Кубок Конструкторов</th>
		</tr>
		{% for team in object.get_team_table|slice:"5" %}
		    {% if team.counted_total %}
		        <tr>
		            <td class="pos">{{ forloop.counter }}</td>
		            <td class="country"><span class="flag {{ team.country.en_name|slugify }}"></span></td>
		            <td class="driver"><a href="{% url team_detail team.slug %}">{{ team }}</a></td>
		            <td class="total">{{ team.counted_total|floatformat }}</td>
		        </tr>
		    {% endif %}
		{% endfor %}
	</table>
	<a href="{% url season_detail 2011 %}" class="full-standings-link">
		<img src="/media/img/table.gif" alt="" />
		<span>Подробная таблица чемпионата &raquo;</span>
	</a>
</section>
