{% load utilities_tags %}

{% if racers %}
<div id="today">
    <h3>В этот день</h3>
    <h5>Сегодня день рождения у:</h5>
    <ul>
        {% for racer in racers %}
            <li><a href="{% url racer_detail racer.slug %}">{{ racer }}</a></li>
	    {% endfor %}
	</ul>
	<h5>В этот день состоялась гонка:</h5>
    <ul>
        {% for heat in heats %}
            <li><a href="{% url heat_detail heat.slug %}">Гран-При {{ heat.grandprix.name }} {{ heat.grandprix.season }}</a></li>
	    {% endfor %}
	</ul>
</div>
{% endif %}
