{% load chunks menuproxy_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/media/css/style.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    {% block head %}{% endblock %}
    {% chunk "end-of-head" %}
</head>
<body>
	<div id="header-wrapper">
		<div id="header">
			<div id="logo"><a href="/"><img src="/media/img/logo.png" alt="" /></a></div>
			<div id="menu">
				{% block main_menu %}{% show_main_menu %}{% endblock %}
			</div>
		</div>
	</div>
	
	{% block inner_breadcrumbs %}{% endblock %}
	
	<div id="wrapper">
		{% block main %}
			<div id="main-column">
				{% block title_wrap %}<h1>{% block content_title %}{% endblock %}</h1>{% endblock %}
	        	{% block content %}{% endblock %}
			</div>
		{% endblock %}
		{% block right %}{% endblock %}
	</div>
</body>
</html>