{% load chunks easy_news_tags frontpage_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{% block seo_keywords %}{% endblock %}" />
    <meta name="description" content="{% block seo_description %}{% endblock %}" />
    <title>{% block seo_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/media/css/style.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    {% block head %}{% endblock %}
    {% chunk "end-of-head" %}
</head>
<body>
    <!-- <div id="center">
        
     <h1>{% block title %}{% endblock %}</h1>
        	{% block content %}{% endblock %}   
        
        <div id="latest-news">
        	ГЛАВНЫЕ НОВОСТИ
        </div>
        
        
        
        
        
    </div>
    {% chunk "end-of-body" %}
     -->
     
     
	<div id="header-wrapper">
		<div id="header">
			<div id="logo"><img src="/media/img/logo.png" alt="" /></div>
			<div id="menu">
				<ul>
					<li>Новости</li>
					<li>Сезон 2011</li>
					<li>Результаты</li>
					<li>Пилоты и команды</li>
					<li>Статьи</li>
					<li>Фото</li>
				</ul>
			</div>
		</div>
	</div>

	<div id="wrapper">
		<div id="main-column">
			
			{% show_news %}
		</div>
		<div id="test">
			{% show_nextgp %}
		</div>
	</div>
     
     
</body>
</html>