{% extends "base.html" %}
{% load frontpage_tags utilities_tags %}

{% block title %}{{ object.get_verbose_name.name }} {{ object.name }} {{ object.season }} | F1Online.Ru{% endblock %}
{% block content_title %}{% endblock %}

{% block breadcrumbs %}
	<div id="breadcrumbs-wrap">
		<div id="breadcrumbs">
			<a href="/" class="home">F1Online.Ru</a> /
			<a href="">Энциклопедия</a> / 
			<a href="{% url season_detail object.season.id %}">Сезон {{ object.season }}</a> / 
			<span>{{ object.get_verbose_name.name }} {{ object.name }}</span> 
		</div> 
	</div>
{% endblock %}

{% block content %}    
    <ul class="current-season">
        <li>
            <a href="{% url season_detail object.season.year %}">{{ object.season }}</a>
        </li>
        {% for grandprix in object.season.grandprixs.all %}
            <li {% if not grandprix.heats.all %}class="inactive"{% endif %}>
                <span class="grandprix-counter">{{ forloop.counter }}</span>
                <span class="flag {{ grandprix.country.en_name|slugify }}"></span>
                {% if grandprix.heats.all %}
                <a href="{% url grand_prix_detail grandprix.id %}" title="Гран-При {{ grandprix.name }} {{ grandprix.season }}" class="abbr">
                    <strong>{{ grandprix.name.abbr }}</strong>
                </a>
                {% else %}
                    <strong class="abbr">{{ grandprix.name.abbr }}</strong>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% show_winners object.name %}

    <article class="main">
        <h2>{{ object.get_verbose_name.name }} {{ object.name }} {{ object.season }}</h2>

        <p>
            <span class="flag {{ object.country.en_name|slugify }} left" title="{{ object.country }}"></span> {{ object.country }}
        </p>
        <p>{{ object.tracklen.track }}</p>
        <p>{{ object.tracklen.convert_to_km }} км</p>
        <p>
            <a href="{{ object.tracklen.track.googlemaps }}">Google Maps</a>
        </p>
        
        <ul>
            {% for heat in object.heats.all %}
                <li>{{ heat.date|date_local:"j F"|lower }} <a href="{% url heat_detail heat.slug %}">{{ heat.get_type_display }}</a></li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}

{% block sidebar %}{% endblock %}
