{% extends "base.html" %}
{% load attachment_tags frontpage_tags utilities_tags %}

{% block title %}{{ object.get_verbose_name.grandprix }} {{ object.grandprix.name }} {{ object.grandprix.season.year }} | F1Online.Ru{% endblock %}
{% block content_title %}{% endblock %}

{% block inner_breadcrumbs %}
	<div id="breadcrumbs-wrap">
		<div id="breadcrumbs">
			<a href="/" class="home">F1Online.Ru</a> /
			<a href="">Энциклопедия</a> / 
			<a href="{% url season_detail object.grandprix.season.id %}">Сезон {{ object.grandprix.season.year }}</a> / 
			<a href="{% url grand_prix_detail object.grandprix.id %}">{{ object.get_verbose_name.grandprix }} {{ object.grandprix.name }}</a> / 
			<span>{{ object.get_type_display }}</span>
		</div> 
	</div>
{% endblock %}

{% block content %}
	<div id="result-detail">
	    <h2>{{ object.grandprix }}</h2>
	    <h3>{{ object.get_type_display }}</h3>
	    
	    {% for result in object.get_results %}
		    {% if forloop.first %}
		    <table class="results">
                <colgroup>
                    <col id="pos" />
                    <col id="num" />
                    <col id="nat" />
                    <col id="racer" />
                    <col id="team" />
                    <col id="engine" />
                    <col id="tyre" />
                    <col id="time" />
                    {% if object.type != 'R' %}<col id="gap" />{% endif %}
                    {% if object.type == 'B' %}<col id="lap" />{% endif %}
                    {% if object.type == 'R' %}<col id="comment" />{% endif %}
                </colgroup>
                <thead>
                    <tr>
		                <th>{{ result.get_verbose_name.position }}</th>
		                <th>{{ result.get_verbose_name.num }}</th>
		                <th>Нац.</th>
		                <th>{{ result.get_verbose_name.racer }}</th>
		                <th>{{ result.get_verbose_name.team }}</th>
		                <th>{{ result.get_verbose_name.engine }}</th>
		                <th>{{ result.get_verbose_name.tyre }}</th>
		                <th>Время</th>
		                {% if object.type != 'R' %}<th>Отставание</th>{% endif %}
	                    {% if object.type == 'B' %}<th>Круг</th>{% endif %}
	                    {% if object.type == 'R' %}<th>&nbsp;</th>{% endif %}
		            </tr>
                </thead>
		    {% endif %}
	        <tr {% if result.dsq %}class="dsq" title="Дисквалификация"{% endif %}>
	            {% if result.is_classified %}
	                {% if result.dsq %}
	            		<td class="center nc narrow">{{ result.position }}</td>
	           		{% else %}
	                	<td class="center narrow">{{ result.position }}</td>
	               	{% endif %}
	            {% else %}
	               	<td class="center nc narrow">NC</td>
	            {% endif %}
	            <td class="center narrow">{{ result.num }}</td>
	            <td class="center narrow"><span class="flag {{ result.racer.country.en_name|slugify }}" title="{{ result.racer.country }}"></span></td>
	            <td><a href="{% url racer_detail result.racer.slug %}" title="{{ result.racer }}">{{ result.racer }}</a></td>
	            <td>{{ result.team }}</td>
	            <td>{{ result.engine }}</td>
	            <td class="center"><abbr title="{{ result.tyre }}">{{ result.tyre.name|slice:":1" }}</abbr></td>
	            <td>
	            	{% if object.type == 'R' %}
                        {% if result.laps == 0 %}
                            {% if result.delta > 0 %}
                                {{ result.get_delta_display }}
                            {% else %}
    	            			{{ result.get_time_display }}
                            {% endif %}
                        {% else %}
            				{{ result.get_delta_display }}
                        {% endif %}
    				{% else %}
    					{{ result.get_time_display }}
    				{% endif %}
            	</td>
            	{% if object.type != 'R' %}
            		<td>{{ result.get_delta_display }}</td>
            	{% endif %}
                {% if object.type == 'B' %}
                    <td class="center">
                        {% if object.laps %}
	                        {% if result.position == 1 %}
	                            {{ object.laps }}
	                        {% else %}
	                            {{ result.laps }}
	                        {% endif %}
                        {% endif %}
                    </td>
                {% endif %}
	            {% if object.type == 'R' %}
            		<td>{{ result.retire.reason }}</td>
           		{% endif %}
	        </tr>
	    {% endfor %}
		
		
		{% if object.type == 'R' %}
			<tr>
				<td colspan="9" class="not-classified">
					<h4>Не классифицированы</h4>
				</td>
			</tr>
			<tr>
				<th class="center narrow">#</th>
				<th class="narrow">№</th>
				<th class="narrow">Нац.</th>
				<th>Гонщинк</th>
				<th>Команда</th>
				<th>Двигатель</th>
				<th>Шины</th>
				<th>Круг схода</th>
				<th>Причина схода</th>
			</tr>
		    {% for result in object.get_fails %}
		        <tr {% if result.dsq %}class="dsq" title="Дисквалификация"{% endif %}>
		            {% if result.is_classified %}
		                {% if result.dsq %}
		            		<td class="center nc narrow">DQ</td>
		           		{% else %}
		                	<td class="center narrow">{{ result.position }}</td>
		               	{% endif %}
		            {% else %}
		            	{% if result.dsq %}
		            		<td class="center nc narrow">DQ</td>
		           		{% else %}
		                	<td class="center nc narrow">NC</td>
		               	{% endif %}
		            {% endif %}
		            <td class="center narrow">{{ result.num }}</td>
		            <td class="center narrow"><span class="flag {{ result.racer.country.en_name|slugify }}" title="{{ result.racer.country }}">{{ result.racer.country }}</span></td>
		            <td><a href="{% url racer_detail result.racer.slug %}" title="{{ result.racer }}">{{ result.racer }}</a></td>
		            <td>{{ result.team }}</td>
		            <td>{{ result.engine }}</td>
		            <td class="center"><abbr title="{{ result.tyre }}">{{ result.tyre.name|slice:":1" }}</abbr></td>
		            <td class="center">{{ result.get_lap_display }}</td>
		            <td>{{ result.retire.reason }}</td>
		        </tr>
		    {% endfor %}
	    {% endif %}
        </table>
	    
	    {% if object.type == 'R' %}
			{% show_fastest_lap object.grandprix %}
		{% endif %}
    </div>
{% endblock %}


{% block sidebar %}
	<aside class="block event-info">
        {% get_attachments for object as heatpic %}
        {% with heatpic.0 as image %}
            {% if image.image %}
                <img src="{{ image.heat.url }}" alt="{{ object }}" title="{{ object }}" />
            {% endif %}
        {% endwith %}
		<div>{{ object.get_verbose_name.date }}: {{ object.date|date:"d.m.Y" }}</div>
	    <div>{{ object.grandprix.tracklen.track }}</div>
        {% if object.type == 'R' %}
            <div>Длина дистанции: {{ object.get_race_length }} км</div>
        {% endif %}	    
        <div>{{ object.grandprix.tracklen.get_verbose_name.length }}: {{ object.grandprix.tracklen.length }}</div>
        {% if object.type == 'R' %}
	        <div>{{ object.get_verbose_name.laps }} : {{ object.laps }}</div>
        {% endif %}
	    <em>Средняя скорость: {{ object.get_speed|floatformat:"3" }} км/ч</em>

        {% if object.type == 'Q' or object.type == 'R' %}
            {% if object.type == 'Q' %}
                <h4>Рекорд круга в квалификации</h4>
            {% else %}
                <h4>Рекорд круга в гонке</h4>
            {% endif %}

            {{ object.get_track_record.0 }}
            {{ object.get_track_record.1 }}
            {{ object.get_track_record.2 }}
            {{ object.get_track_record.3 }}
        {% endif %}
        <p>&nbsp;</p>
        <ul>
        {% for heat in object.grandprix.heats.all %}
            <li>{{ heat.date|date_local:"d.m.Y" }} <a href="{% url heat_detail heat.slug %}">{{ heat.get_type_display }}</a></li>
        {% endfor %}
        </ul>
        {{ object.id }}
	</aside>
{% endblock %}
