{% extends "base.html" %}

{% block content %}
    <h2>Гонщики</h2>
    <ul>
        {% for object in object_list %}
            <li>
                <strong>{{ object.family_name|slice:":1" }}</strong>
                <ul class="racers-by-letter">
                    {% for racer in object.letters %}
                        <li>
                            <a href="{% url racer_detail racer.slug %}">
                                {{ racer }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
