{% extends "base.html" %}

{% block content %}
    <h2>{{ object.first_name }} {{ object.family_name }}</h2>
    {% if object.photo %}
    	<div><img src="{{ object.photo.url }}" alt="{{ object }}" /> </div>
	{% endif %}
    <div>{{ object.get_verbose_name.nationality }}: {{ object.nationality }}</div>
    <div>{{ object.get_verbose_name.birthday }}: {{ object.birthday }}</div>
    <div>{{ object.get_verbose_name.comment }}: {{ object.comment }}</div>

    <div>{{ object.get_verbose_name.get_age }}: {{ object.get_age }}</div>
    <div>{{ object.get_verbose_name.get_last_team }}: {{ object.get_last_team }}</div>
    <div>{{ object.get_verbose_name.get_race_count }}: {{ object.get_race_count }}</div>
    <div>{{ object.get_verbose_name.get_grand_prix_count }}: {{ object.get_grand_prix_count }}</div>
    <div>{{ object.get_verbose_name.get_season_count }}: {{ object.get_season_count }}</div>
    <div>{{ object.get_verbose_name.get_win_count }}: {{ object.get_win_count }}</div>
    <div>{{ object.get_verbose_name.get_podium_count }}: {{ object.get_podium_count }}</div>
    <div>{{ object.get_verbose_name.get_points_count }}: {{ object.get_points_count }}</div>
    <div>{{ object.get_verbose_name.get_poles_count }}: {{ object.get_poles_count }}</div>
    <div>{{ object.get_verbose_name.get_bestlap_count }}: {{ object.get_bestlap_count }}</div>
    <div>{{ object.get_verbose_name.get_fail_count }}: {{ object.get_fail_count }}</div>
{% endblock %}
