{% extends "base.html" %}

{% block head %}
	<script type="text/javascript" src="/media/js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript">
	<!--
	    $(function () {
	        $('td:even').addClass('left');
	    });
    //-->
	</script>
{% endblock %}

{% block content %}   
    {% if object.photo %}
    	<div id="driver-img"><img src="{{ object.photo.url }}" alt="{{ object }}" /> </div>
	{% endif %}
<div id="driver-details">
    <h1>{{ object.first_name }} {{ object.family_name }}</h1>
    <h3>{{ object.en_name }}</h3>
	<table>
	    <tr>
	    	<td>{{ object.get_verbose_name.country }}</td> 
	    	<td><img src="{{ object.country.photo.url }}" alt="{{ object.country }}" /> {{ object.country }}</td>
    	</tr>
    	<tr>
		    <td>{{ object.get_verbose_name.birthday }}</td>
		    <td>{{ object.birthday|date:"d.m.Y" }}</td>
	    </tr>
	    <tr>
		    <td>{{ object.get_verbose_name.get_age }}</td>
		    <td>{{ object.get_age }}</td>
	    </tr>
	    <tr>
		    <td>&nbsp;</td>
		    <td>&nbsp;</td>
	    </tr>	    
        <tr>
            <td>{{ object.get_verbose_name.get_first_grandprix }}</td>
            <td><a href="{% url grand_prix_detail object.get_first_grandprix.id %}">{{ object.get_first_grandprix.name }} {{ object.get_first_grandprix.season }}</a></td>
        </tr>
	    <tr>
		    <td>{{ object.get_verbose_name.get_last_grandprix }}</td>
		    <td><a href="{% url grand_prix_detail object.get_last_grandprix.id %}">{{ object.get_last_grandprix.name }} {{ object.get_last_grandprix.season }}</a></td>
	    </tr>
		<tr>
	    	<td>{{ object.get_verbose_name.get_season_count }}</td>
	    	<td>{{ object.get_season_count }}</td>
	    </tr>	    
	    <tr>
		    <td>{{ object.get_verbose_name.get_grand_prix_count }}</td>
		    <td>{{ object.get_grand_prix_count }}</td>
	    </tr>	    
	    <tr>
		    <td>{{ object.get_verbose_name.get_race_count }}</td>
		    <td>{{ object.get_race_count }}</td>
	    </tr>
	    <tr>
	    	<td>{{ object.get_verbose_name.get_win_count }}</td>
	    	<td>{{ object.get_win_count }}</td>
	    </tr>
	    <tr>
	    	<td>{{ object.get_verbose_name.get_podium_count }}</td>
	    	<td>{{ object.get_podium_count }}</td>
	    </tr>
	    <tr>
	    	<td>{{ object.get_verbose_name.get_poles_count }}</td>
	    	<td>{{ object.get_poles_count }}</td>
	    </tr>
	    <tr>
	    	<td>{{ object.get_verbose_name.get_bestlap_count }}</td>
	    	<td>{{ object.get_bestlap_count }}</td>
	    </tr>
	    <tr>
	    	<td>{{ object.get_verbose_name.get_points_count }}</td>
	    	<td>{{ object.get_points_count|floatformat }}</td>
	    </tr>
	    <tr>
	    	<td>{{ object.get_verbose_name.get_fail_count }}</td>
	    	<td>{{ object.get_fail_count }}</td>
	    </tr>
	    <tr>
	    	<td>{{ object.get_verbose_name.website }}</td>
	    	<td><a href="{{ object.website }}">{{ object.website }}</a></td>
	    </tr>
    </table>
</div>
{% endblock %}
