{% extends "base.html" %}
{% load frontpage_tags %}

{% block inner_breadcrumbs %}
	<div id="breadcrumbs-wrap">
		<div id="breadcrumbs">
			<a href="/" class="home">F1Online.Ru</a> /
			<a href="">Энциклопедия</a> / 
			<span>Сезон {{ object }}</span>
		</div> 
	</div>
{% endblock %}

{% block content %}
    <h2>{{ object.get_verbose_name.self }}: {{ object }}</h2>
    <p>{{ object.get_season_index }}-й чемпионат мира</p>    

    {% if object.get_prev_season %}
		<a href="{% url season_detail object.get_prev_season.slug %}">{{ object.get_prev_season }}</a>
    {% endif %}
    {% if object.get_next_season %}
		<a href="{% url season_detail object.get_next_season.slug %}">{{ object.get_next_season }}</a>
    {% endif %}

    {% show_calendar object %}
    
    <h3>Личный зачет</h3>
    <table class="season">
   		<tr>
            <th>Поз</th>
	   		<th>Гонщик</th>
	   		{% for grandprix in object.grandprixs.all %}
	        	<th>
                    <a href="{% url grand_prix_detail grandprix.id %}" title="Гран-При {{ grandprix.name }} {{ grandprix.season }}" class="abbr">{{ grandprix.name.abbr }}
	        			<span class="flag {{ grandprix.country.en_name|slugify }}"></span>
	        		</a>
	       		</th>
	    	{% endfor %}
	    	<th>Очки</th>
	    	<th>&nbsp;</th>
    	</tr>
    	
    	
    	{% for key,value in object.get_racer_table %}
    		{% if value.2.0 %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td class="driver"><a href="{% url racer_detail key.slug %}">{{ key }}</a></td>
                    {% for result in value.1 %}
                        <td>
                            {% if not result %}
                                -
                            {% else %}
                                {% ifequal result -1 %}
                                    &nbsp;
                                {% else %}
                                    {{ result|floatformat:"-2" }}
                                {% endifequal %}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td class="total">{{ value.2.0|floatformat:"-2" }}</td>
                    <td class="total">
                    	{% if value.2.0 == value.3.0 %}
                    		&nbsp;
                		{% else %}
                    		{{ value.3.0|floatformat:"-2" }}
                		{% endif %}
                	</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>


<h3>Кубок Конструкторов</h3>
    <table class="season">
   		<tr>
            <th>Поз</th>
	   		<th>Команда</th>
	   		{% for grandprix in object.grandprixs.all %}
	        	<th>
                    <a href="{% url grand_prix_detail grandprix.id %}" title="Гран-При {{ grandprix.name }} {{ grandprix.season }}" class="abbr">{{ grandprix.name.abbr }}
	        			<span class="flag {{ grandprix.country.en_name|slugify }}"></span>
	        		</a>
	       		</th>
	    	{% endfor %}
	    	<th>Очки</th>
    	</tr>
        
        {% for team in object.get_team_table %}
        	{% if team.counted_total %}
			<tr>
			    <td>{{ forloop.counter }}</td>
			    <td class="driver"><a href="{% url team_detail team.slug %}">{{ team }}</a></td>
			    {% for result in team.counted_results %}
			        <td>
			            {% if not result %}
			                &nbsp;
			            {% else %}
			                {% ifequal result '-' %}
			                    {{ result }}
			                {% else %}
			                    {{ result|floatformat }}
			                {% endifequal %}
			            {% endif %}
			        </td>
			    {% endfor %}
			    <td class="total">{{ team.counted_total|floatformat }}</td>
			</tr>
			{% endif %}
        {% endfor %}
    </table>
{% endblock %}
