{% extends "base.html" %}
{% load frontpage_tags %}

{% block inner_breadcrumbs %}
	<div id="breadcrumbs-wrap">
		<div id="breadcrumbs">
			<a href="/" class="home">F1Online.Ru</a> /
			<a href="">Энциклопедия</a> / 
			<span>Сезон {{ object }}</span>
		</div> 
	</div>
{% endblock %}

{% block content %}
    <h2>{{ object.get_verbose_name.self }}: {{ object }}</h2>
    
    {% show_calendar object %}
    
    <h3>Личный зачет</h3>
    <table class="season">
   		<tr>
            <th>Поз</th>
	   		<th>Гонщик</th>
	   		{% for grandprix in object.grandprixs.all %}
	        	<th>
                    <a href="{% url grand_prix_detail grandprix.id %}" title="Гран-При {{ grandprix.name }} {{ grandprix.season }}" class="abbr">{{ grandprix.name.abbr }}
	        		<img src="{{ grandprix.country.photo.url }}" title="Гран-При {{ grandprix.name }} {{ grandprix.season }}" /></a>
	       		</th>
	    	{% endfor %}
	    	<th>Очки</th>
    	</tr>
        {% for racer in object.get_racer_table %}
            {% if racer.counted_total %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td class="driver"><a href="{% url racer_detail racer.slug %}">{{ racer }}</a></td>
                    {% for result in racer.counted_results %}
                        <td>
                            {% if not result %}
                                &nbsp;
                            {% else %}
                                {% ifequal result '-' %}
                                    {{ result }}
                                {% else %}
                                    {{ result|floatformat }}
                                {% endifequal %}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td class="total">{{ racer.counted_total|floatformat }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

{% endblock %}
