{% extends "base.html" %}

{% block title %}{{ object }} | F1Online.Ru{% endblock %}
{% block title_wrap %}{% endblock %}

{% block content %}   
<div id="driver-details">
    <h1>{{ object }}</h1>
	<table>
	    <tr>
	    	<th>{{ object.get_verbose_name.country }}</th> 
	    	<td><img src="{{ object.country.photo.url }}" alt="{{ object.country }}" class="flag" /> {{ object.country }}</td>
    	</tr>    
        <tr>
            <th>{{ object.get_verbose_name.founder }}</th>
            <td>{{ object.founder }}</td>
        </tr>
        <tr>
		    <th>&nbsp;</th>
		    <td>&nbsp;</td>
	    </tr>
        <tr>
            <th>{{ object.get_verbose_name.get_first_grandprix }}</th>
            <td>
            	{% if object.get_first_grandprix %}
            	<a href="{% url grand_prix_detail object.get_first_grandprix.id %}">
            		{{ object.get_first_grandprix.name }} {{ object.get_first_grandprix.season }}
           		</a>
           		{% else %}
	    			-
           		{% endif %}
       		</td>
        </tr>
	    <tr>
		    <th>{{ object.get_verbose_name.get_last_grandprix }}</th>
		    <td>
		    	{% if object.get_first_grandprix %}
		    	<a href="{% url grand_prix_detail object.get_last_grandprix.id %}">
		    		{{ object.get_last_grandprix.name }} {{ object.get_last_grandprix.season }}
	    		</a>
	    		{% else %}
	    			-
	    		{% endif %}
    		</td>
	    </tr>
		<tr>
	    	<th>{{ object.get_verbose_name.get_season_count }}</th>
	    	<td>{{ object.get_season_count }}</td>
	    </tr>	  
	    <tr>
		    <th>{{ object.get_verbose_name.get_grand_prix_count }}</th>
		    <td>{{ object.get_grand_prix_count }}</td>
	    </tr>	    
	    <tr>
		    <th>{{ object.get_verbose_name.get_race_count }}</th>
		    <td>{{ object.get_race_count }}</td>
	    </tr>
	    <tr>
	    	<th>{{ object.get_verbose_name.get_win_count }}</th>
	    	<td>{{ object.get_win_count }}</td>
	    </tr>
	    <tr>
	    	<th>{{ object.get_verbose_name.get_podium_count }}</th>
	    	<td>{{ object.get_podium_count }}</td>
	    </tr>
	    <tr>
	    	<th>{{ object.get_verbose_name.get_poles_count }}</th>
	    	<td>{{ object.get_poles_count }}</td>
	    </tr>
	    <tr>
	    	<th>{{ object.get_verbose_name.get_bestlap_count }}</th>
	    	<td>{{ object.get_bestlap_count }}</td>
	    </tr>
	    <tr>
	    	<th>{{ object.get_verbose_name.get_points_count }}</th>
	    	<td>{{ object.get_points_count|floatformat }}</td>
	    </tr>
	    <tr>
	    	<th>{{ object.get_verbose_name.get_fail_count }}</th>
	    	<td>{{ object.get_fail_count }}</td>
	    </tr>
    </table>
    {% if object.website %}
 		<div class="info">
			<img src="/media/img/website.png" alt="Website" class="info" />{{ object.website|urlize }}
		</div>
	{% endif %}
</div>
{% endblock %}
