{% extends "base.html" %}

{% block title_wrap %}{% endblock %}

{% block content %}   

	<h2>{{ object.name }}</h2>
	<a href="{{ object.googlemaps }}">Google Maps</a><br/>
	<a href="{{ object.website }}">{{ object.website }}</a>

    <h3>Конфигурации трассы</h3>
    <ul>
        {% for tracklen in object.tracks.all %}
            <li>{{ tracklen }}</li>
        {% endfor %}
    </ul>

    <h3>Наибольшее количество побед</h3>
    <ul>
        {% for win in object.get_most_wins %}
            <li>{{ win.1 }} &ndash; {{ win.0 }}</li>
        {% endfor %}
    </ul>

    <h3>Наибольшее количество поул-позишн</h3>
    <ul>
        {% for pole in object.get_most_poles %}
            <li>{{ pole.1 }} &ndash; {{ pole.0 }}</li>
        {% endfor %}
    </ul>

	{{ object.info|safe }}

{% endblock %}
